a {
    text-decoration: none;
}
* {
    padding: 0;
    margin: 0;
}
:root {
    --blue: #2196F3;
    --grey: #757575;
    --black: #212121;
    --white: #FFFFFF;
    --backgrd:  #2F303A;
}
body {
    font-family: Roboto, sans-serif;   
}
.logo-in-head {
    font-family: Raleway;   
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-in-head span {
    color: var(--blue);
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--black);
}
.domestic-nav a:hover {
color: var(--blue);
}
.contact-nav a:hover {
color: var(--blue);
}
.head {
    background: var(--backgrd);
}
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}
.head button {
    font-family: inherit;
    color: var(--white);
    background: var(--blue);
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
ul {
    list-style: none
}
.domestic-nav a{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--black);
}
.domestic-nav span {
    color: var(--blue);
}
.contact-nav a{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--grey);
}
.advantages p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--grey);
}
.advantages h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black);
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--black);
}
.duty {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--grey);
}
.footer {
    background-color: var(--backgrd);
}
.logo-in-footer {
    font-family: Raleway;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--white);
}
.logo-in-footer span {
    color: var(--blue);
} 
.address p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white);
}
.address a {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.portfolio button {
    font-family: inherit; 
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    color: var(--black);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio button:hover {
    color: var(--white);
    background-color: var(--blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-type {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--grey);
    
}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--black);
    
}